a
{
	text-decoration: none;
	color:white;
}

.navbar ul li:hover
{
	background: #333333;
    width: auto;
}
.nav-tabs .nav-link.active
{
	background-color:#77C3EC;
	color: white;
	border: 3px solid #77C3EC;
}
.nav-tabs :hover
{
	background: #B8E2F2;
    width: auto;
}
.sofia
{
  font-family: "Sofia", sans-serif;
  text-shadow: 3px 3px 3px #ababab;
  font-weight: bold;
}
.trirong
{
	font-family: "Trirong", serif;
	text-shadow: 3px 3px 3px #ababab;
}
#home
{
	background: url(image/bg.jpg) center fixed;
	display:table;
	height:100%;
	width:100%;
	position: relative;
	background-size:cover;
}
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 900	*/

.playfair
{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*
#project
{
	background: url(image/skill.jpg);
	display:table;
	height:auto;
	width:100%;
	position: relative;
	background-size:cover;
}
*/