<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blood_Donor_App_v4</title>
    
    <link rel="stylesheet" href="~/css/_site.css" asp-append-version="true" />
   
</head>
<body class="h-full">

    <div class="">
        <main role="main">
            @RenderBody()
        </main>
        <partial name="_FooterPartial" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script defer src="~/js/_site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
